<!DOCTYPE html>
<html>
<head>
  <title>Yakiniku Predict App</title>
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .container {
      text-align: center;
    }
  </style>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <h1 class="mb-5">その焼肉・ホルモン、どの部位？</h1>
    <br>

    <form method="post" enctype="multipart/form-data">
      <input type="file" name="filename">
      →
      <button type="submit" class="btn btn-danger">GO! YAKINIKU ♡</button>
    </form>
    <br>
    <br>
    <br>
  </div>
</body>
</html>
